<div id="header">
  <div class="header-navigation">
    <ul>
      <li><a href="/about">about</a></li>
      <li><a href="https://news.clubreal.world/">newsletter</li>
      <li><a href="https://news.clubreal.world/profile/products">shop</li>
      <li><a href="mailto:clubrealdotworld@gmail.com">contact</a></li>
    </ul>
  </div>

  <div class="header-sticky-container">
    <div class="header-logo">
      <a href="{{ site.url }}">clubreal.world</a>
    </div>
    <div class="header-search">
        <h2><a href="/">events</a></h2>
    </div>
  </div>
</div>
