{% include head.html %}

<link href="{{ root_url }}/css/epic.css" media="screen, projection" rel="stylesheet" type="text/css">

{% if page.css %}
<link href="{{ root_url }}/css/posts/{{page.css}}.css" media="screen, projection" rel="stylesheet" type="text/css">
{% endif %}

<body>
  <div>
    <div id="bodywrapper">
      <header>
        <ul>
          <li><a href="/">clubreal.world</a></li>
          <li><a href="mailto:clubrealdotworlde@gmail.com">contact</a></li>
        </ul>
      </header>

      <section>
        <header id="page">
          <h1>{{ page.title }}</h1>
        </header>

        <article class='post'>
          {{ content }}
        </article>

        <article class='post'>
          <p style="padding-bottom: 0; margin-bottom:0;">
            <a href="https://clubreal.world" style="background-image: none;">
              <img src="/images/fixed_logo.png" height="200" width="200">
            </a>
          <p/>
        </article>

        <aside class="related-articles"></aside>

      </section>

      <footer>
        <article>

          <section>
            <h4>follow</h4>
            <ul>
              <li><a href="https://www.instagram.com/lovesdevotee_clubrealworld/">instagram</a></li>
              <li><a href="https://news.clubreal.world">newsletter</a></li>
            </ul>
          </section>
          <br/>

          <section>
            <h4><a href="/">events<a></a></h4>
            <ul>
              <li><a href='/blog/archives'>archives</a></li>
            </ul>
          </section>
        </article>

      </footer>
    </div>
  </div>
</body>
